@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  font-size: 100%;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  color: #dedede;
  -webkit-transition: .3s;
  transition: .3s;
}

button {
  color: #222;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #fff;
  width: calc(100% / 2 - 40px);
  margin: 10px 20px;
  font-size: 20px;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

h6,
.h6 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 56px;
}

h1,
.h1 {
  font-size: 64px;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  .instagram-post > img {
    width: calc(100% - 60px);
    height: auto;
    margin: 0px 20px;
  }
  .instagram-post {
    width: calc(100% / 2 - 40px);
    height: 100%;
    margin: 20px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .instagram-posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  header.header {
    max-width: calc(90%);
    margin: 0% 5%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  img[alt="Vinyl sf"] {
    max-width: 100%;
  }
  .header-inner > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-inner > div img {
    max-width: calc(100%);
  }
  .header-inner-image {
    width: 40%;
  }
  .spacing {
    display: none;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form > input {
    width: calc(100% - 40px) !important;
  }
  .section-inner-list {
    margin: 0px;
    padding: 0px;
    margin: 20px 0px;
  }
  button {
    width: calc(100% - 40px) !important;
  }
  .rule-section {
    width: 100% !important;
  }
  .rules.binding-to-section-inner-payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagram-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 20px 0px;
  }
  section.instagram-posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-inner-text {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px 2px 5px #4e4e4e;
    text-transform: uppercase;
  }
  .section-inner.margin-top-bottom {
    padding: 10px;
  }
  .header-inner-text > img {
    display: none;
  }
  .header-inner-text::after {
    content: "Участвуй в розыгрыше";
  }
  .instagram-post {
    width: 100%;
  }
  .instagram-post > img {
    width: calc(100% - 20px);
  }
  .form-payment-section {
    margin-top: 100px;
  }
  .social-links {
    font-size: 30px !important;
  }
  header.header {
    min-height: 50vh !important;
  }
}

header.header {
  max-width: calc(80%);
  margin: 0% 10%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: url("../images/background-combo.png");
  background-size: contain;
  margin: 0px;
}

.header-inner-image > img {
  max-width: 100%;
}

.header-inner-text > img {
  max-width: 90%;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spacing {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30%;
}

img[alt="Vinyl sf"] {
  max-width: 500px;
}

.header-inner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img[alt="Sennheiser HD 25"] {
  max-width: 70%;
}

section.timer {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
}

.section-inner-h2 {
  margin: 0px;
  font-size: 3rem;
  color: #fff;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

section.form-payment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-inner.margin-top-bottom {
  background: #222222b5;
  padding: 30px;
  max-width: 1000px;
  width: 100%;
}

.section-inner-list {
  text-align: center;
  color: #fff;
  list-style-position: inside;
  font-size: 20px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form input {
  color: #fff;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #fff;
  width: calc(100% / 2 - 40px);
  margin: 10px 20px;
  font-size: 20px;
  outline: none;
}

.rules.binding-to-section-inner-payment {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rule-section {
  width: calc(100% / 2);
  padding: 0px 20px;
}

form input::-webkit-input-placeholder {
  color: #fff;
}

form input:-ms-input-placeholder {
  color: #fff;
}

form input::-ms-input-placeholder {
  color: #fff;
}

form input::placeholder {
  color: #fff;
}

.blogger-info-inner-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogger-info-inner-image > img {
  max-width: 50%;
  margin-top: 100px;
}

h2.section-title {
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

.section-description {
  color: #fff;
  text-align: center;
  margin: 0px;
  font-weight: normal;
}

section.instagram-posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 0px;
}

.instagram-post > img {
  height: auto;
}

.social-links {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.desc {
  margin: 7px 3px;
}

.desc div {
  float: left;
  font-family: Arial;
  width: 70px;
  margin-right: 65px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

#CDT {
  font-size: 60px;
  color: #eee;
  margin: 0px 0 100px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#CDT .number-wrapper {
  margin: 10px;
  -webkit-box-shadow: 0 5px 8px #000000;
  box-shadow: 0 5px 8px #000000;
  position: relative;
}

#CDT .number {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #000;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #000000), color-stop(50%, #3c3c3c), to(#000000));
  background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 7px;
  background-clip: padding-box;
  padding: 0 12px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #555;
  -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
  -moz-text-shadow: 0 3px 3px #000000;
  -webkit-text-shadow: 0 3px 3px #000000;
  text-shadow: 0 3px 3px #000000;
}

#CDT .line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 52%;
  left: 0;
  background: #000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.caption {
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #777;
}
/*# sourceMappingURL=main.css.map */